<div *ngIf="visible" id="dialog-container{{overlapDialog}}" [ngClass]="{'dialog_resize': resizable, 'dialog_noresize': !resizable}"
  [style.height.%]="height" [style.width.%]="width" [style.left.%]="left" [style.top.%]="top">
  <div [style.background-color]="headerColor" [ngClass]="{'dialog-header_draggable': draggable, 'dialog-header_nondraggable': !draggable}"
    (mousedown)="mousedown($event)" (mousemove)="mousemove($event)" (mouseup)="mouseup($event)">
    <span class="text-header">
      <ng-content select="dialog-header"></ng-content>
    </span>
    <div *ngIf="closable" (click)="close()" aria-label="Close" class="dialog__close-btn">
      <span aria-hidden="true">&times;</span>
    </div>
  </div>
  <div class="dialog-body">
    <ng-content select="dialog-body"></ng-content>
  </div>
  <ng-content></ng-content>
  <!-- universal -->
  <div *ngIf="resizable" class="resizeIcon">&#9950;</div>
</div>
<div *ngIf="visible && !anchored" class="overlay_notanchored" (click)="close()"></div>
<div *ngIf="visible && anchored" class="overlay_anchored"></div>
